// ---------------------------------------------
// LAYOUT
// ---------------------------------------------

// -- Nicolas Gallagher's micro clearfix
@mixin clearfix {
  *zoom: 1;           // For IE 6/7 (trigger hasLayout)
  &:before, &:after { // For modern browsers
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin clearfix-old {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  html[xmlns] & { display: block; }
  * html & { height: 1% }
}

@mixin center-unknown(
  $selector) {
  text-align: center;
  &:before {
    content: '';
    height: 100%;
    margin-right: -0.5em;
    display: inline-block;
    vertical-align: middle;
  }
  #{$selector} {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin box-sizing(
  $sizing){
    -webkit-box-sizing: $sizing;
            box-sizing: $sizing;
}

@mixin calc(
  $property, 
  $calc, 
  $fallback: false) {

    @if $fallback != false {
      #{$property} : $fallback;
    }
    #{$property} : -webkit-calc(#{unquote($calc)});
    #{$property} : calc(#{unquote($calc)});
}

// -------------------------------
// MULTICOLUMN CSS LAYOUTS

@mixin columns(
  $columns) {
  
    -webkit-columns: $columns;
       -moz-columns: $columns;
            columns: $columns;
}

@mixin column-count(
  $count) {
  
    -webkit-column-count: $count;
       -moz-column-count: $count;
            column-count: $count;
}

@mixin column-gap(
  $gap) {
  
    -webkit-column-gap: $gap;
       -moz-column-gap: $gap;
            column-gap: $gap;
}

@mixin column-rule(
  $rule) {
  
    -webkit-column-rule: $rule;
       -moz-column-rule: $rule;
            column-rule: $rule;
}

@mixin column-rule-color(
  $rule-color) {
  
    -webkit-column-rule-color: $rule-color;
       -moz-column-rule-color: $rule-color;
            column-rule-color: $rule-color;
}

@mixin column-rule-style(
  $rule-style) {
  
    -webkit-column-rule-style: $rule-style;
       -moz-column-rule-style: $rule-style;
            column-rule-style: $rule-style;
}

@mixin column-rule-width(
  $rule-width) {
  
    -webkit-column-rule-width: $rule-width;
       -moz-column-rule-width: $rule-width;
            column-rule-width: $rule-width;
}

@mixin column-width(
  $width) {
  
    -webkit-column-width: $width;
       -moz-column-width: $width;
            column-width: $width;
}